<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hybrid</title>
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="shortcut icon" type="image/jpg" href="../assets/favicon.ico" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header class="header">
            <header class="container ">
                <nav class="header-nav">
                    <div class="header-logo">
                        <a href="">
                            <img src="../assets/hybrid1.png" alt="" />
                        </a>
                    </div>
                    <div class="header-link">
                        <ul class="header-list">
                            <li>
                                <a href="https://medium.com/@hybridprotocol" target="_blank"
                                    >Medium</a
                                >
                            </li>
                            <!-- <li class="header-mobile"><a href="">Telegram</a></li> -->
                            <li ><a class="menu-modal" href="#">Tokenomy</a></li>

                            <li>
                                <a href="../assets/hybrid - one page.png" download>OnePager</a>
                            </li>
                        </ul>
                    </div>
                    
                </nav>
                <nav class="mobile-nav">
                    <div class="mobile-nav-container">
                         <div class="mobile-logo">
                            <a href="">
                                <img src="../assets/hybrid1.png" alt="" />
                            </a>
                         </div>

                        <div class="mobile-toggle"></div>
                    </div>
                    
                </div> 
                <div class="mobile-menu">
                    <ul class="mobile-list">
                        <li>
                            <a href="https://medium.com/@hybridprotocol" target="_blank"
                                >Medium</a
                            >
                        </li>
                        <!-- <li class="header-mobile"><a href="">Telegram</a></li> -->
                        <li ><a class="menu-modal" href="#">Tokenomy</a></li>

                        <li>
                            <a href="../assets/hybrid - one page.png" download>OnePager</a>
                        </li>
                    </ul>
                </div>                   

                </nav>
                <div class="header-content">
                    <div class="header-container">
                        <div class="header-text">
                            <h1>
                                The 1st Dual Governance, Deflationary, and Yield Generation System
                                with Auto-Buyback Mechanism.
                            </h1>
                            <br />
                            <p>
                                Come on to the new epoch of Yield Farming and Liquidity generation.
                                Hold HIP, and generate frictionless yield under a balanced system.
                                <br /><br />
                                Many DeFi systems require active user participation before they can
                                earn and generate yield. Hybrid go over this approach and reward all
                                holders of the network asset even while they are asleep.
                            </p>
                        </div>
                        <br /><br />
                        <div class="header-button">
                            <a class="xpad" href="https://t.me/hybridprotocol" target="_blank">Telegram</a>
                            <a href="../assets/hybrid - one page.png" download>OnePager</a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="clip-one"></div>
                    <div class="clip-two"></div>
                    <div class="clip-three"></div>
                </div>
            </header>
            <div class="modal">
                <div class="modal-container">
                    <h1 class="modal-text">Tokenomics</h1>
                    <br>
                    <br>
                    <p>
                    <span class="red">HIP</span> will have a total and max supply of <span class="red">25.000</span> tokens <span class="red">15.000</span> or
                    60% will be available for sale 7,500 or 30% will be used for Uniswap liquidity. </p>
                    <br><br>
                    <p>

                    </p>
                    <span class="red">1.250</span> or 5% is allocated for team 
                </p>
                    <p>
                       <span class="red"> 1,250 or 5% will be used for marketing</span>
                    </p>

                    <br><br>
                     <h1 class="modal-text"> Sale Details</h1>
                       Presale 1 ETH = 120 HIP <br>
                       Listing  1 ETH = 105 HIP<br>
                       Soft cap = 80 ETH <br>
                       Harcap =120 ETH <br>
                       <br>
                    <p>  Note : Hybrid sale will launch with a fair distribution model. Only whitelisted
                    users will be eligible to participate and would be strictly. <br>
                     2 pool will be available for whitelisting  <br>
                    <span class="red">First Pool</span>  - 40 users with 2 ETH contributions <br>
                    <span class="red">Second Pool</span>  - 40 users with 1 ETH distribution. <br>
                    </p>
                </div>
                <div class="modal-close">
                    <img src="../assets/close.png" alt="">
                </div>
            </div>
            
        </header>
        <section class="feature">
            <div class="container">
                <div class="feature-container">
                    <div class="feature-hero">
                        <h1>
                            A True Upright System
                        </h1>
                    </div>
                    <div class="feature-text">
                        <p>
                            Every hour 0.5% of generated fee is used to automatically buyback HIP on Uniswap and is burnt. 
                            The HL (Hybrid Lodestar) function that could be called by any user takes the buyback process one step further. 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature">
            <div class="container">
                <div class="feature-container">
                    <div class="feature-hero">
                        <h1>
                            Increasing Liquidity
                        </h1>
                    </div>
                    <div class="feature-text">
                        <p>
                            1% from fees creates a pool that automatically adds liquidity to the
                            HIP-ETH pair creating additional liquidity in the process.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature">
            <div class="container">
                <div class="feature-container">
                    <div class="feature-hero">
                        <h1>
                            Hold and Earn
                        </h1>
                    </div>
                    <div class="feature-text">
                        <p>
                            Hold HIP in your wallet and increase your HIP wallet balance by sharing
                            from the reward pool of 1% of fee distributed to all holders
                            proportionally.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature">
            <div class="container">
                <div class="feature-container">
                    <div class="feature-hero">
                        <h1>
                            Dual Governance
                        </h1>
                    </div>
                    <div class="feature-text">
                        <p>
                            HIP will be used together with BRID to participate in the Dual Governance model and allow users vote for change in the Hybrid Ecosystem
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="feature">
            <div class="container">
                <div class="feature-container">
                    <div class="feature-hero">
                        <h1>
                            Automated buybacks
                        </h1></div>
                    <div class="feature-text">
                        <p>
                            Every hour 0.5% from fees automatically buy HIP from the market at the current market price. This supports the price level of the token and increases buying pressure. 
                            <br>
                            Purchased tokens via this means are forever burnt and removed from the supply, creating a deflationary model in the process    
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature">
            <div class="container">
                <div class="feature-container">
                    <div class="feature-hero">
                        <h1>
                            Frictionless yield generation
                        </h1></div>
                    <div class="feature-text">
                        <p>
                            Hybrid is created to allow frictionless yield generation of assets. DeFi interactions do not always need to be stressful. 
                            <br>
                            Hybrid creates a yield generation funnel where even a day newbie can increase their token balance with just holding the asset. 
                        </p>
                    </div>
                </div>
                
            </div>
        </section> -->
        <section>
            <div class="container">
                <div class="links">
                    <h4>Official Links</h4>
                    <ul class="links-list">
                        <li>
                            <a href="https://twitter.com/ProtocolHybrid" target="_blank"
                                ><img src="../assets/twitter.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="https://medium.com/@hybridprotocol" target="_blank"
                                ><img src="../assets/medium.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href="https://t.me/hybridprotocol" target="_blank"><img src="../assets/teleram.png" alt=""/></a>
                        </li>
                        <li>
                            <a href="" target="_blank"
                                ><img src="../assets/logo-ether.png" alt=""
                            /></a>
                        </li>
                        <li class="links-download">
                            <a href="../assets/hybrid - one page.pdf" download>
                                <img src="../assets/white.png" alt=""
                            /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <footer>
                <div class="container footer-container">
                    <p>
                        "Brought to you by The DeFi Chronicles"
                    </p>
                    <p>
                        &copy; 2021 hybrid.finance
                    </p>
                </div>
            </footer>
        </section>
    </body>
    <script src="bundle.js"></script>
</html>
