* {
    padding: 0;
    margin: 0;
    font-family: "montserrat";
}

.hamburger {
    display: none;
}

.header {
    margin: 0 auto;
    /* width: 90%; */
    background-color: #ffffff;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.header {
    padding: 20px 0px;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link {
    width: 25%;
}

img {
    width: 40%;
}
ul {
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
a {
    text-decoration: none;
    color: #000000;
}
/* rgb(216,47,98) */
a:hover {
    color: #d82f62;
}
li {
    color: black;
}
.header-content {
    padding-top: 50px;
    width: 100%;
}
.header-text h1 {
    font-size: 39px;
    line-height: 4rem;
}

.header-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 2.5rem;
    width: 70%;
}
.header-button {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 520px) {
    .header-button {
        width: 60%;
    }
}

.header-button a {
    border: 1px solid #d82f62;
    padding: 10px 10px;
}
.header-button a.xpad {
    padding: 10px 20px;
}
.header-button a:hover,
.header-button a:active {
    background-color: #d18099;
    color: #ffffff;
    transition: all 0.6s;
    border: 2px solid #ffffff;
}

/**features begin here**/

.feature-container {
    width: 50%;
    padding: 90px 0px 70px;
}

@media only screen and (max-width: 520px) {
    .feature-container {
        width: 100%;
    }
}
.feature-hero h1 {
    display: contents;
    line-height: 4rem;
    font-size: 2.4rem;
}
.feature-hero::before {
    content: "";
    background: url("../assets/icon.png");
    width: 45px;
    height: 45px;
    display: inline-block;
    background-size: cover;
    background-position: right;
}
.feature-text p {
    font-family: "Montserrat", sans-serif;
    line-height: 3rem;
    font-size: 23px;
    font-weight: 200;
}
.clip-two {
    width: 20%;
    height: 40%;
    border-radius: 100%;
    position: absolute;
    background: #ff000017;
    top: 30%;
    right: 50%;
    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.feature:nth-of-type(odd) {
    background: #d8d1d11f;
}
.clip-one {
    width: 20%;
    height: 40%;
    border-radius: 100%;
    position: absolute;
    background: #ff000040;
    top: 30%;
    right: 20%;
}

/**footer styling starts here**/

.links {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}
ul.links-list {
    display: flex;
    align-items: center;
}
ul.links-list li {
    text-align: center;
}

.links-list img {
    width: 30%;
}
.links h4 {
    line-height: 4rem;
    text-align: center;
    font-size: 30px;
}
.links-download {
    width: 45%;
}
footer {
    background: black;
    padding: 20px;
}
footer p {
    color: white;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    .header-button {
        width: 44%;
    }
    .header-link {
        width: 72%;
    }
    .feature-container {
        width: 82%;
        padding: 90px 0px 70px;
    }
    .clip-one,
    .clip-two {
        height: 20%;
    }
}
@media only screen and (max-width: 760px) {
    .header-mobile {
        display: none;
    }
}
@media only screen and (max-width: 520px) {
    .header-text h1 {
        font-size: 25px;
        line-height: 2.4rem;
    }
    .header-text p {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 2rem;
        width: 100%;
    }
    .clip-one,
    .clip-two {
        width: 22%;
        height: 14%;
    }
    .feature-hero h1 {
        display: contents;
        line-height: 50px;
        font-size: 22px;
    }
    .feature-container {
        padding: 43px 0px 40px;
    }
    .feature-hero::before {
        height: 26px;
    }
    ul.links-list {
        flex-direction: column;
        justify-content: center;
    }
    .links-list img {
        width: 25%;
    }
    .feature-text p {
        font-size: 18px;
    }
    footer p {
        font-size: 12px;
    }
    .links-download {
        width: 80%;
    }
}
@media only screen and (max-width: 420px) {
    .header-button {
        width: 91%;
    }
    .links-list img {
        width: 20%;
    }
    .feature-hero h1 {
        font-size: 20px;
    }
}
