* {
    padding: 0;
    margin: 0;
    font-family: "montserrat";
}
a {
    cursor: pointer;
}
.bold {
    font-weight: 800;
}

.hamburger {
    display: none;
}

.header {
    margin: 0 auto;
    /* width: 90%; */
    background-color: #ffffff;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.header {
    padding: 20px 0px;
}
.header-list {
    z-index: 1;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.header-link {
    width: 25%;
    z-index: 2;
}

img {
    width: 40%;
    cursor: pointer;
}
ul {
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
a {
    text-decoration: none;
    color: #000000;
}
/* rgb(216,47,98) */
a:hover {
    color: #d82f62;
}
li {
    color: black;
}
.header-content {
    padding-top: 50px;
    width: 100%;
}
.header-text h1 {
    font-size: 39px;
    line-height: 4rem;
}

.header-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 2.5rem;
    width: 70%;
}
.header-button {
    width: 20%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.header-logo {
    cursor: pointer;
    z-index: 2;
}
.header-button a {
    border: 1px solid #d82f62;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 2;
}
.header-button a.xpad {
    padding: 10px 20px;
}
.header-button a:hover,
.header-button a:active {
    background-color: #d18099;
    color: #ffffff;
    transition: all 0.6s;
    border: 2px solid #ffffff;
}

/**features begin here**/

.feature-container {
    width: 50%;
    padding: 90px 0px 70px;
}

.feature-hero h1 {
    display: contents;
    line-height: 4rem;
    font-size: 2.4rem;
}
.feature-hero::before {
    content: "";
    background: url("../assets/icon.png");
    width: 45px;
    height: 45px;
    display: inline-block;
    background-size: cover;
    background-position: right;
}
.feature-text p {
    font-family: "Montserrat", sans-serif;
    line-height: 3rem;
    font-size: 23px;
    font-weight: 200;
}
.clip-two {
    width: 20%;
    height: 40%;
    border-radius: 100%;
    position: absolute;
    background: #ff000017;
    top: 30%;
    right: 50%;
    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.feature:nth-of-type(odd) {
    background: #d8d1d11f;
}
.clip-one {
    width: 20%;
    height: 40%;
    border-radius: 100%;
    position: absolute;
    background: #ff000040;
    top: 30%;
    right: 20%;
}

/**footer styling starts here**/

.links {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}
ul.links-list {
    display: flex;
    align-items: center;
}
ul.links-list li {
    text-align: center;
    z-index: 2;
}

.links-list img {
    width: 30%;
    cursor: pointer;
    z-index: 2;
}
.links h4 {
    line-height: 4rem;
    text-align: center;
    font-size: 30px;
}
.links-download {
    width: 45%;
}
footer {
    background: black;
    padding: 20px;
}
footer p {
    color: white;
    text-align: center;
}

/**modal starts here**/

.modal {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    background-color: #000000a8;
}

.modal-container {
    width: 80%;
    margin: 0 auto;
    background: #ffffff;
    padding: 100px 40px;
    text-align: center;
}
.modal-container p {
    line-height: 25px;
}
.modal-show {
    display: flex;
    opacity: 1;
    height: 100vh;
    transition: all 0.6s;
    z-index: 3;
}
.modal-close {
    position: absolute;
    right: 20px;
    top: 100px;
}
.modal-close img {
    width: 20%;
}
/**mobile-nav stylings**/
.mobile-nav {
    display: none;
}
.mobile-toggle {
    width: 20px;
    height: 2px;
    background-color: #000000;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.mobile-toggle-zero {
    width: 0;
}
.mobile-toggle::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 8px;
    transition: all 0.6s;
}

.mobile-toggle::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: 8px;
    transition: all 0.6s;
}
.mobile-toggle-jx {
    width: 0;
}
.mobile-toggle-jx::before {
    content: "";
    transform: rotate(-45deg);
    transform-origin: center;
    width: 30px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 0px;
    transition: all 0.6s;
}
.mobile-toggle-jx::after {
    content: "";
    transform: rotate(45deg);
    transform-origin: center;
    width: 30px;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: 0px;
    transition: all 0.6s;
}

.mobile-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-logo {
    width: 80%;
}

.mobile-logo img {
    width: 80%;
}
.mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-list li {
    z-index: 2;
}

.mobile-menu {
    display: none;
    transition: all 0.6s;
}
.mobile-menu-show {
    display: block;
}
@media only screen and (max-width: 1000px) {
    .header-button {
        width: 44%;
    }
    .header-link {
        width: 72%;
    }
    .feature-container {
        width: 82%;
        padding: 90px 0px 70px;
    }
    .clip-one,
    .clip-two {
        height: 20%;
    }
}
@media only screen and (max-width: 760px) {
    .header-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
        width: 92%;
    }
    .mobile-list li {
        line-height: 30px;
    }
}
@media only screen and (max-width: 520px) {
    .header-text h1 {
        font-size: 25px;
        line-height: 2.4rem;
    }
    .header-text p {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 2rem;
        width: 100%;
    }
    .feature-container {
        width: 100%;
    }
    .clip-one,
    .clip-two {
        width: 22%;
        height: 14%;
    }
    .feature-hero h1 {
        display: contents;
        line-height: 50px;
        font-size: 22px;
    }
    .feature-container {
        padding: 43px 0px 40px;
    }
    .feature-hero::before {
        height: 26px;
    }
    ul.links-list {
        flex-direction: column;
        justify-content: center;
    }
    .links-list img {
        width: 25%;
    }
    .feature-text p {
        font-size: 18px;
    }
    footer p {
        font-size: 12px;
    }
    .links-download {
        width: 80%;
    }
    .feature-container {
        width: 95%;
    }
    .header-button {
        width: 60%;
    }
    .modal-close {
        right: -169px;
        top: 54px;
    }
    .modal-close img {
        width: 16%;
    }
}
@media only screen and (max-width: 420px) {
    .header-button {
        width: 91%;
    }
    .links-list img {
        width: 20%;
    }
    .feature-hero h1 {
        font-size: 18px;
        line-height: 35px;
    }
    .feature-container {
        width: 94%;
    }
    .feature-text p {
        font-size: 17px;
        line-height: 2.5rem;
    }
    .footer-container {
        width: 90%;
    }
    .modal-container {
        padding: 100px 10px;
        width: 94%;
    }
}
